html, body{
	height: 100%;
	overflow: hidden;
}

body {
	/*background-color: #E4E4E4;*/
	padding-top: 60px;
    padding-bottom: 60px;
}

a { color: #56A690; }
a:hover, a:focus { color: #209E85; }
a, a:hover, a:visited, a:active {
	outline: medium none;
	text-decoration: none;
}

.block {
	background-color: #FFF;
}

.login-form{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 15px;
}

.login-form h1{
	text-align: center;
	margin-bottom: 30px;
}

.login-info {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 15px;
}


