<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width">

   <title>404</title>

   <meta name="robots" content="noindex, nofollow">
   <meta name="description" content="Link we" />
   <meta name="keywords" content="Link we" />
   <meta name="author" content="Xinjie Wong"/>


   <link rel="stylesheet" type="text/css" href="/static/css/bootmetro.css">
   <link rel="stylesheet" type="text/css" href="/static/css/bootmetro-responsive.css">
   <link rel="stylesheet" type="text/css" href="/static/css/bootmetro-icons.css">
   <link rel="stylesheet" type="text/css" href="/static/css/bootmetro-ui-light.css">
   <link rel="stylesheet" type="text/css" href="/static/css/validator.css">
   <link rel="stylesheet" type="text/css" href="/static/css/login.css">

   <script src="/static/js/modernizr-2.6.2.min.js"></script>

</head>

<body>
<div class="container">
<div class="row">
	<div class="span2"></div>
	<div class="span8 block">
		<p class="text-center lead">404</p>
	</div>
	<div class="span2" >
	</div>
</div>
</div>

   <script type="text/javascript" src="/static/js/jquery-1.10.0.min.js"></script>	
   <script type="text/javascript" src="/static/js/min/bootstrap.min.js"></script>
   <script type="text/javascript" src="/static/js/bootmetro-panorama.js"></script>
   <script type="text/javascript" src="/static/js/bootmetro-pivot.js"></script>
   <script type="text/javascript" src="/static/js/bootmetro-charms.js"></script>
   <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
   <script type="text/javascript" src="/static/js/jquery.mousewheel.min.js"></script>
   <script type="text/javascript" src="/static/js/jquery.touchSwipe.min.js"></script>
   <script type="text/javascript" src="/static/js/holder.js"></script>
   <script type="text/javascript" src="/static/js/bootstap.min.js"></script>
   <script type="text/javascript" src="/static/js/formValidator-4.0.1.js"></script>
   <script type="text/javascript" src="/static/js/formValidatorRegex.js"></script>
	
		
</body>
</html>
